<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user">
                  <div class=" form-group">
                    <input type="email" name="email" id="email" class="form-control form-control-user"
                      aria-describedby="emailHelp" placeholder="Enter Email Address..." />
                  </div>
                  <div class="form-group">
                    <input type="password" name="pwd" id="pwd" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember
                        Me</label>
                    </div>
                  </div>
                  <button type="submit" onclick="submitLogin(event)" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<script>

  const submitLogin = async (event) => {
    try {
      event.preventDefault();

      const email = $("#email").val();
      const pwd = $("#pwd").val();

      if (!!name == false && !!pwd == false) {
        Swal.fire({ title: "please fill proper data", icon: "error" });
        return false;
      }
      else {

        const response = await axios({
          method: 'post',
          url: '/userLogin',
          data: {
            email: email,
            pwd: pwd
          }
        });

        function myFunc() {
          window.location.href = "http://localhost:3000/dashboard";
        }

        if (response?.data?.status === "FAILED") {

          Swal.fire({ title: response?.data?.message, icon: "error" });

          $("#email").val("");
          $("#pwd").val("");
          return;
        } {

          Swal.fire({ title: response?.data?.message, icon: "success" });
          myFunc();
          $("#email").val("");
          $("#pwd").val("");

        }

      }
    }
    catch (e) {
      Swal.fire({ title: e?.message, icon: "error", });
      return;
    }
  }


</script>