<!DOCTYPE html>
<html lang="en">

<!-- Begin Head -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Unique Step Financial | {{title}}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="uniquestepfinancial" />
  <meta name="keywords" content="uniquestepfinancial" />
  <meta name="author" content="" />
  <meta name="MobileOptimized" content="320" />

  <!--start theme style -->
  <link href="/css/main.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css"
    integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js"
    integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js"
    integrity="sha512-uplugzeh2/XrRr7RgSloGLHjFV0b4FqUtbT5t9Sa/XcilDr1M3+88u/c+mw6+HepH7M2C5EVmahySsyilVHI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- end theme style -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js"
    integrity="sha512-uplugzeh2/XrRr7RgSloGLHjFV0b4FqUtbT5t9Sa/XcilDr1M3+88u/c+mw6+HepH7M2C5EVmahySsyilVHI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>

  <!--Page main section start-->
  <div id="pro_wrapper">
    <!--Header start-->
    <header id="ed_header_wrapper">
      <div class="ed_header_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="ed_contact_details">
                <ul>
                  <li><a href="tel:+91-810982889"><i class="fa fa-phone" aria-hidden="true"></i> +91-810982889</a>
                  </li>
                  <li><a href="mailto:support@uniquestepfinancial.com"><i class="fa fa-envelope-o"
                        aria-hidden="true"></i>
                      support@uniquestepfinancial.com</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="ed_social_icons">
                <ul>
                  <li><a href="https://www.facebook.com/people/Usf-Classes/100082947433008/"><i class="fa fa-facebook"
                        aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com/usf_classes/"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a></li>
                  <li><a href="https://wa.me/+919555538604"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ed_header_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="pro_logo"> <a href="/"><img src="/images/USF ACADEMY png.png" alt="usf-online-course-logo" /></a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <div class="pro_menu_toggle navbar-toggle" data-toggle="collapse" data-target="#ed_menu">Menu <i
                  class="fa fa-bars"></i></div>
              <div class="pro_menu">
                <ul class="collapse navbar-collapse" id="ed_menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">about us</a></li>
                  <li><a href="/contact">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--header end -->

    {{{body}}}



    <!--Newsletter Section six start-->
    <div class="ed_newsletter_section">
      <div class="ed_img_overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ed_newsletter_section_heading wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
              <h4>Let us inform you about everything important directly.</h4>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-0">
            <div class="ed_newsletter_section_form wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
              <form class="form">
                <input class="form-control" id="newsLetterEmail" name="email" type="text"
                  placeholder="Newsletter Email" />
                <button class="btn ed_btn ed_orange" type="submit" onclick="submitHandler2(event)"><i
                    class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Newsletter Section six end-->
    <!--Footer Top section start-->
    <div class="ed_footer_wrapper">
      <div class="ed_footer_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="widget text-widget">
                <p><a href="index.html"><img src="images/USF ACADEMY jpg.jpg" alt="usf-online-course-footer-logo" /></a></p>
                <p>We are professional Financial Consultant. we believe in maintaining a positive mindset, creating
                  healthy partnerships with a purpose, and always straving for significant outcomes. When you start
                  learning with our team , you will get a proper collaboration with transparency and consistency. </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
              <div class="widget text-widget">
                <h4 class="widget-title">quick links </h4>
                <div class="ed_footer_menu">
                  <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/contact">contact us</a></li>
                    <li><a href="/private_policy">private policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
              <div class="widget text-widget">
                <h4 class="widget-title">Social Media</h4>
                <div class="ed_sociallink">
                  <ul>
                    <li><a href="https://www.facebook.com/people/Usf-Classes/100082947433008/" data-toggle="tooltip"
                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
                        facebook</a></li>
                    <li><a href="https://www.instagram.com/usf_classes/" data-toggle="tooltip" data-placement="bottom"
                        title="Twitter"><i class="fa fa-instagram" aria-hidden="true"></i> instagram</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i
                          class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a></li>
                    <li><a href="https://wa.me/+919555538604" data-toggle="tooltip" data-placement="bottom"
                        title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="widget text-widget">
                <h4 class="widget-title">find us</h4>
                <p><i class="fa fa-safari"></i>Sch. No 53 Building No 53 Ratanlok Colony Vijay Nagar Indore Near Medanta
                  Hospital</p>
                <p><i class="fa fa-envelope-o"></i><a
                    href="mailto:support@uniquestepfinancial.com">support@uniquestepfinancial.com</a></p>
                <p><a href="tel:+91-810982889"><i class="fa fa-phone" aria-hidden="true"></i> +91-810982889</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer Top section end-->
    <!--Footer Bottom section start-->
    <div class="ed_footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ed_copy_right">
              <p>&copy; Copyright 2022, All Rights Reserved, <a
                  href="https://www.instagram.com/innogative">Innogative</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer Bottom section end-->

  </div>
  <!--Page main section end-->
  <!--//========Go Top  Wrapper Start=========//-->
  <div style="display: none;" id="scroll" class="main_go_top ">
    <div class="go_top item-bounce">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-chevron-up">
        <polyline points="18 15 12 9 6 15"></polyline>
      </svg>
    </div>
  </div>
  <!--//========Go Top  Wrapper End=========//-->
  <!--main js file start-->
  <script type="text/javascript" src="/js/jquery-1.12.2.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" src="/js/modernizr.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.js"></script>
  <script type="text/javascript" src="/js/smooth-scroll.js"></script>
  <script type="text/javascript" src="/js/wow.min.js"></script>
  <script type="text/javascript" src="/js/plugins/revel/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/js/plugins/revel/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/js/plugins/revel/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="/js/plugins/revel/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="/js/plugins/revel/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="/js/plugins/countto/jquery.countTo.js"></script>
  <script type="text/javascript" src="/js/plugins/countto/jquery.appear.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <script>

    const submitHandler2 = async (event) => {
      try {
        event.preventDefault();

        const email = document.getElementById("newsLetterEmail").value;

        if (!!email === false) {
          Swal.fire({ title: "please fill proper data", icon: "error" });
          return false;
        }
        else {

          const response = await axios({
            method: 'post',
            url: '/newsletterPostRequest',
            data: {
              email: email,
            }
          });

          if (response?.data?.status === "SUCCESS") {

            Swal.fire({ title: response?.data?.message, icon: "success" });

            document.getElementById("newsLetterEmail").value = "";
            return;

          } else {
            Swal.fire({ title: response?.data?.message, icon: "error" });
          }
        }
      }
      catch (e) {
        Swal.fire({ title: e?.message, icon: "error", });
        return;
      }
    }

  </script>
  <!--main js file end-->

</body>

</html>