<!--Breadcrumb start-->
<div class="ed_pagetitle">
	<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-4 col-sm-6">
				<div class="page_title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
					<h2>About Us</h2>
				</div>
			</div>
			<div class="col-lg-6 col-md-8 col-sm-6">
				<ul class="breadcrumb wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
					<li><a href="/">home</a></li>
					<li><i class="fa fa-angle-double-left" aria-hidden="true"></i></li>
					<li><a href="/about">About us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Breadcrumb end-->
<!--video_section Section three start -->
<div class="ed_parallax_section pro_about_video">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<div class="ed_video_section wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">
					<div class="embed-responsive embed-responsive-16by9">
						<p><a href="/"><img src="/images/content/about.jpg" alt="usf-online-course-footer-logo" /></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="ed_video_section_discription wow fadeInRight" data-wow-delay="300ms" data-wow-duration="2000ms">
					<h4>about the UniqueStep Financial</h4>
					<p>We are professional Financial Consultant. we believe in maintaining a positive mindset, creating
						healthy partnerships with a purpose, and always straving for significant outcomes. When you start
						learning with our team , you will get a proper collaboration with transparency and consistency. Want to
						learn more? Contact us today for an initial learning. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--video_section Section three end -->