<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<style>
	body {
		text-align: center;
	}

	h1 {
		color: #e42525;
		font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 10px;
	}

	p {
		color: #404F5E;
		font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
		font-size: 20px;
		margin: 0;
	}

	.checkmark {
		color: #dd2722;
		font-size: 100px;
		line-height: 200px;
		margin-left: -15px;
	}

	.error-card {
		background: white;
		padding: 60px;
		border-radius: 4px;
		box-shadow: 0 2px 3px #C8D0D8;
		display: inline-block;
		margin: 0 auto;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
</style>

<div class="row d-flex justify-content-center">
	<div class="col-md-12">
		<div class="card">
			<div class="error-card">
				<div style="border-radius:200px; height:200px; width:200px; background: #f5bebe; margin:0 auto;">
					<i class="checkmark">✘</i>
				</div>
				<h1>Failed</h1>
				<p>We don't received your purchase request.Please try again!<br /> </p>
			</div>

		</div>
	</div>
</div>