<div class="ed_slider_form_section">
	<!--Slider start-->
	<section class="ed_mainslider">
		<article class="content">
			<div class="rev_slider_wrapper">
				<!-- START REVOLUTION SLIDER 5.0 auto mode -->
				<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
					data-alias="classicslider1"
					style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
					<div id="rev_slider" class="rev_slider " data-version="5.0">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="boxfade">

								<!-- MAIN IMAGE -->
								<img src="/images/Home Background.jpg" alt="usf-online-course-slider">
								<div class="ed_course_single_image_overlay"></div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['top','top','top','top']" data-voffset="['220','2205','195','135']" data-width="none"
									data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
									data-transform_in="x:-50px;skX:100px;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1510"
									data-splitin="none" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
									style="z-index: 5; white-space: nowrap; font-size: 60px; color:#fff; font-family: 'Ubuntu', sans-serif;">
									Education is not preparation for life
								</div>
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['top','top','top','top']" data-voffset="['300','235','210','200']" data-width="none"
									data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
									data-transform_in="x:-50px;skX:100px;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1810"
									data-splitin="none" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
									style="z-index: 5; white-space: nowrap; font-size: 60px; color:#fff; font-family: 'Ubuntu', sans-serif;">
									education is life itself</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-CallToAction ed_btn ed_green tp-resizeme rs-parallaxlevel-0"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['top','top','top','top']" data-voffset="['430','306','776','651']" data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none"
									data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; "><a
										href="/about">
										see
										more
									</a>
								</div>

							</li>
							<li data-transition="fadefromtop">

								<!-- MAIN IMAGE -->
								<img src="/images/BG 2.jpg" alt="usf-online-course-slider-2">
								<div class="ed_course_single_image_overlay"></div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['top','top','top','top']" data-voffset="['220','2205','195','135']" data-width="none"
									data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
									data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1510" data-splitin="none"
									data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
									style="z-index: 5; white-space: nowrap; font-size: 60px; color:#fff; font-family: 'Ubuntu', sans-serif;">
									Develop a passion for learning. If you do,
								</div>
								<div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['top','top','top','top']" data-voffset="['300','235','210','200']" data-width="none"
									data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
									data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1810" data-splitin="none"
									data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
									style="z-index: 5; white-space: nowrap; font-size: 60px; color:#fff; font-family: 'Ubuntu', sans-serif;">
									you will never cease to grow
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption NotGeneric-CallToAction ed_btn ed_green tp-resizeme rs-parallaxlevel-0"
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									data-y="['top','top','top','top']" data-voffset="['430','306','776','651']" data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
									data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; ">
									<a href="/about">
										see
										more
									</a>
								</div>

							</li>

							<!-- SLIDE  -->

						</ul>
					</div><!-- END REVOLUTION SLIDER -->
				</div><!-- END  -->
			</div><!-- END REVOLUTION SLIDER WRAPPER -->
		</article>
	</section>
	<!--Slider end-->
	<!--Slider form start-->
	<div class="ed_graysection ed_form_box">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<div class="ed_search_form wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">
						<h3>enroll now</h3>
						<form class="form-inline">
							<div class="form-group">
								<input type="text" placeholder="Name" name="name" id="name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Email" name="email" id="email" class="form-control">
							</div>
							<div class="form-group">
								<input type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Mobile Number" name="phone"
									id="phone" class="form-control" required>
							</div>
							<div class="form-group">
								<select class="form-control" name="course" id="course">
									<option value="">Course Type</option>
									<option value="Equity Cash">Equity Cash</option>
									<option value="Future & Options">Future & Options</option>
									<option value="3=MCX & NCDEX">MCX & NCDEX</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" onclick="submitHandler(event)"
									class="btn ed_btn pull-right ed_orange">submit</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
					<div class="ed_search_form_text wow fadeInRight" data-wow-delay="300ms" data-wow-duration="2000ms">
						<img src="images/content/search_top.jpg" alt="usf-online-course-search_top" title="1">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Slider form end-->
</div>
<!--skill section start -->
<div class="ed_transprentbg ed_toppadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder100 ed_toppadder30 wow fadeInUp" data-wow-delay="300ms"
					data-wow-duration="2000ms">
					<h3><span>Our </span> expertise</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="skill_section wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
					<span><i class="fa fa-diamond" aria-hidden="true"></i></span>
					<h4><a href="#">Best learning module</a></h4>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat mauris quis volutpat fermentum.</p> -->
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="skill_section wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
					<span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
					<h4><a href="#">One on One interactions</a></h4>
					<!-- <p>Nunc nec nisi vitae ipsum pharetra tincidunt. Nam vel purus dolor. In iaculis arcu et aliquam dapibus.</p> -->
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="skill_section wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
					<span><i class="fa fa-laptop" aria-hidden="true"></i></span>
					<h4><a href="#">Weekdays and weekend shedule</a></h4>
					<!-- <p>Aliquam erat volutpat. Donec laoreet iaculis elementum. Aliquam ligula nisi, molestie faucibus tortor.</p> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--video_section Section three start -->
<div class="ed_parallax_section">
	<div class="ed_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<div class="ed_video_section wow fadeInLeft" height="300px" data-wow-delay="300ms" data-wow-duration="2000ms">
					<div class="embed-responsive embed-responsive-16by9">
						<p><a href="/"><img src="/images/BG 2.jpg" alt="usf-online-course-footer-logo" /></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<div class="ed_video_section_discription wow fadeInRight" data-wow-delay="300ms" data-wow-duration="2000ms">
					<h4>Daily life of studying at Unique Step Financial</h4>
					<p>We are professional Financial Consultant. we believe in maintaining a positive mindset, creating
						healthy partnerships with a purpose, and always straving for significant outcomes. When you start
						learning with our team , you will get a proper collaboration with transparency and consistency.</p>
					<span><a href="/about" class="btn ed_btn ed_orange">see more</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--video_section Section three end -->

<!--Price Table section start -->
<div class="ed_transprentbg ed_toppadder80 ed_bottompadder50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_bottompadder50 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
					<h3><span>pricing</span> table</h3>
				</div>
			</div>
			<div class="ed_pricing_table_wrapper">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_pricing_table wow flipInY animated" data-wow-delay="300ms" data-wow-duration="2000ms">
						<div class="ed_pricing_heading">
							<h2>Uddeshya Batch</h2>
							<div class="ed_table_price">
								<p class="ed_price_dollar"><sup> ₹ </sup>9999</p>
							</div>
						</div>
						<ul>
							<li>1 Month</li>
							<li>Live interactive classes</li>
							<li>Live doubt solving sessions</li>
							<li>Personal mentor support</li>
							<li>Comprehensive material</li>
						</ul>
						<div class="ed_pricing_tabel_footer">
							<a href="/paymentRequest/basic/9999/1Month" class="btn ed_btn ed_orange">purchase now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_pricing_table wow flipInY animated" data-wow-delay="300ms" data-wow-duration="2000ms">
						<div class="ed_pricing_heading">
							<h2>Saksham Batch</h2>
							<div class="ed_table_price">
								<p class="ed_price_dollar"><sup> ₹ </sup>29999</p>
							</div>
						</div>
						<ul>
							<li>3 Months</li>
							<li>Live interactive classes</li>
							<li>Live doubt solving sessions</li>
							<li>Practice sessions</li>
							<li>One on one mentor support</li>
							<li>Comprehensive material</li>
							<li>Any 2 segments ( Equity/ Cash, Futures, Options, Commodity )</li>
						</ul>
						<div class="ed_pricing_tabel_footer">
							<a href="/paymentRequest/Intermediate/29999/6Month" class="btn ed_btn ed_orange">purchase now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="ed_pricing_table wow flipInY animated" data-wow-delay="300ms" data-wow-duration="2000ms">
						<div class="ed_pricing_heading">
							<h2>Saarthak batch</h2>
							<div class="ed_table_price">
								<p class="ed_price_dollar"><sup> ₹ </sup>49999</p>
							</div>
						</div>
						<ul>
							<li>6 Months</li>
							<li>Live interactive classes</li>
							<li>Live doubt solving</li>
							<li>Practice sessions</li>
							<li>One on one mentor support</li>
							<li>Comprehensive material</li>
							<li>Strategy building</li>
							<li>Backtesting</li>
							<li>All segments ( Equity/Cash, Futures, Options, Commodity)</li>
						</ul>
						<div class="ed_pricing_tabel_footer">
							<a href="/paymentRequest/premium/49999/1Year" class="btn ed_btn ed_orange">purchase now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Price Table section end -->


<script>

	const submitHandler = async (event) => {
		try {
			event.preventDefault();

			const name = $("#name").val();
			const email = $("#email").val();
			const phone = $("#phone").val();
			const course = $("#course").val();

			if (!!name == false && !!email === false && !!phone == false && !!course == false) {
				Swal.fire({ title: "please fill proper data", icon: "error" });
				return false;
			}
			else {

				const response = await axios({
					method: 'post',
					url: '/enrollmentPostRequest',
					data: {
						name: name,
						email: email,
						phone: Number(phone),
						course: course
					}
				});

				if (response?.data?.status === "SUCCESS") {

					Swal.fire({ title: response?.data?.message, icon: "success" });

					$("#name").val("");
					$("#email").val("");
					$("#phone").val("");
					$("#course").val("");
					return;

				} else {
					Swal.fire({ title: response?.data?.message, icon: "error" });
				}
			}
		}
		catch (e) {
			Swal.fire({ title: e?.message, icon: "error", });
			return;
		}
	}


</script>